<html>
  <head>
  <style media="screen">
    body {
      background: #ffffcc;
    }
  </style>
  </head>
  <body>
    <center>
      <form>
        <input type="text" name="guess" />
          <input type="submit" value="Guess!" />
      </form>
      <p hidden>
        <%= secret_number%>
      </p>
      <p>
        <%= message %>
      </p>
      <% if cheat == "true" %>
      <p>
        The secret number is <%= @@secret_number %>
      </p>
      <% end %>
    </center>
  </body>

</html>
